
<a href="/beers/{{id}}">
  <h3>{{name}}</h3>
</a> 
 </a>
  <img src={{image_url}}  alt="beer image">
 <div>
  <p><strong>Description:</strong> {{description}}</p>
</div> 
 <div>
  <h4>{{tagline}}</h4>
 </div>
