
 <div class="beers">
  <a href="/beers/{{id}}" class="">
   <img src={{image_url}}  alt="beer image" class="beer-img">
  </a>
 <div class="style">
    <h3> {{name}}</h3>
   </div>
   <div class="style">
    <h4>{{tagline}}</h4>
   </div>
   <div class="beer-descr style">
    <p><strong>Description:</strong> {{description}}</p>
   </div> 
  </div>

