
 <div class="beers">
  <a href="/beers/{{id}}" class="">
   <img src={{image_url}}  alt="beer image" class="beer-img">

  </a>
 <div>
    
    <h3 {{name}}</h3>
   </div>
   <div class="beer-descr">
    <p><strong>Description:</strong> {{description}}</p>
   </div> 
   <div class="">
    <h4>{{tagline}}</h4>
   </div>
  </div>

