<div>
    <h4>A random beer</h4>
</div>

<div>
   <div>
    <h1>{{responseFromAPI.name}}</h1>
    
   </div> 

   <div>
    <img src= {{responseFromAPI.image_url}}  alt="beer image ">
   </div> 
   <div>
    <p>{{responseFromAPI.description}}</p>
    <h3>{{responseFromAPI.tagline}}</h3>
    <p>{{responseFromAPI.brewers_tips}} </p>
    <h4>Food pairings:</h4>
    <p> {{responseFromAPI.food_pairing}}</p>
    
   </div>
</div>